.post {
    display: grid;
    grid-template-areas: "likes body";
    grid-template-columns: 80px auto;
}

.postBody {
    grid-area: body;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: solid 1px var(--color-stroke);
    background-color: var(--color-main);
    box-shadow: 0 0 10px black;
}

.likesWrapper {
    grid-area: likes;
}

.postlikes {
    position: sticky;
    top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
}

.likesCount {
    font-weight: 600;
    font-size: 1.5rem;
}

.likesDecrement .arrow {
    transform: rotate(90deg);
}

.likesDecrement .arrow path:hover {
    fill: red;
}

.likesDecrement .arrow path:active {
    stroke: red;
}

.likesIncrement .arrow {
    transform: rotate(270deg);
}

.likesIncrement .arrow path:hover {
    fill: green;
}

.likesIncrement .arrow path:active {
    stroke: green;
}

.likesDecrementActivated .arrow {
    transform: rotate(90deg);
}

.likesDecrementActivated .arrow path {
    fill: red;
}

.likesDecrementActivated .arrow path:hover {
    fill: rgba(255, 0, 0, 0.5);
}

.likesDecrementActivated .arrow path:active {
    stroke: green;
}

.likesIncrementActivated .arrow {
    transform: rotate(270deg);
}

.likesIncrementActivated .arrow path {
    fill: green;
}

.likesIncrementActivated .arrow path:hover {
    fill: rgba(0, 125, 0, 0.5);
}

.likesIncrementActivated .arrow path:active {
    stroke: red;
}

.creationInfo {
    display: grid;
    grid-template-areas: 
    "Author Date Hide"
    "Author Title Hide";
    align-items: center;
    grid-template-columns: 50px auto 80px;
    gap: 10px;
    padding: 10px;
    flex-direction: row;
    background-color: var(--color-bkg);
    border-radius: 5px 5px 0 0;
}

.dateItem {
    grid-area: Date;
    font-size: 1rem;
    color: var(--color-text-dark);
    font-weight: 400;
}

.authorItem {
    grid-area: Author;
    font-size: .8rem;
    color: var(--color-text);
    font-weight: 500;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    align-self: center;
    justify-self: center;
    border: 3px solid rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.titleItem {
    grid-area: Title;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text-dark);
    font-size: 1.25rem;
    font-weight: 600;
}

.hidePost {
    grid-area: Hide;
    cursor: pointer;
    padding: 0.25rem;
    width: 80px;
    display: flex;
    align-self: stretch;
    align-items: center;
    text-align: center;
    background-color: var(--color-main-light);
    color: var(--color-text);
    border-radius: 5px;
    font-size: 1rem;
    outline: 1px var(--color-stroke) solid;
    transition: all 0.3s;
}
.hidePost:hover {
    outline: 1px var(--color-char) solid;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    gap: 5px;
}

.textItem {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--color-text);
    white-space: pre-line;
    white-space: pre-wrap;
}

.imgItem {
    width: 100%
}

.actions {
    display: flex;
    flex-flow: row;
    gap: 15px;
    padding: 10px;
    background-color: var(--color-bkg);
    border-radius: 0 0 5px 5px;
}

.actions__item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0.3rem;
    opacity: 0.8;
}

.actions__item:hover {
    opacity: 1;
}

.arrow {
    width: 40px;
    height: 40px;
}

.arrow path {
    fill: var(--color-bkg);
    stroke-width: .6;
    stroke: var(--color-text);
    transition: fill 0.3s ease-out;
    cursor: pointer;
}

.hidden {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
}

.icon {
    cursor: pointer;
    position: relative;
    font-size: 1.0rem;
}

@media (max-width: 980px) {
    .creationInfo {
        grid-template-areas: 
        "Author Date Hide"
        "Title Title Title";
    }
  }